body{
    height: 100vh;
}

.tinder-background{
    background: linear-gradient(90deg, rgba(253,42,121,1) 30%, rgba(255,111,88,1) 58%);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.profile-img{
    border-radius: 100%;
    border: solid white 1px;
    height: 35px;
    width: 35px;
}

.maletin{
    font-size: 20px;
}

.maletin-border{
    border: solid rgba(255, 255, 255, 0.404) 1px;
    border-radius: 100%;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.matches-img{
    height: 100px;
    border-radius: 5px;
    background-image: url("https://picsum.photos/200/300");
    display: flex;
    align-items: flex-end;
    filter: brightness(0.7);
}

.grid-matches{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
}

.background-profiles{
    background-color: #F5F7FA;
    border: solid rgba(0, 0, 0, 0.034) 1px;
}

.profile{
    width: 25%;
    height: 700px;
    background-image: url("https://picsum.photos/200/300");
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.degradado{
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.7681782185530462) 66%, rgba(4,3,0,0) 100%);
}

.border-option{
    font-size: 20px;
    border-radius: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.redo{
    background: -webkit-linear-gradient(#f8bd3d, #f9de75);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border:solid 1px #f8bd3d;
}
.cross{
    background: -webkit-linear-gradient(rgba(253,42,121,1), rgba(255,111,88,1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border:solid 1px rgba(253,42,121,1);
}
.star{
    background: -webkit-linear-gradient(#327DC7, #3D9FFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border:solid 1px #327DC7;
}
.heart{
    background: -webkit-linear-gradient(#10b36c, #10CE7A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border:solid 1px #10b36c;
}
.bolt{
    background: -webkit-linear-gradient(#600792, #c771f9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border:solid 1px #600792;
}

.position-shortcuts{
    position: absolute;
    top: 95%;
}

.shortcut-container{
    display: inline;
    padding: 0 8px;
}

.shortcut-container span{
    font-size: 15px;
}